@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=PT+Sans:ital@1&family=Poppins:wght@400;500&family=Rubik:wght@300;400;500;700;900&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#662e91;
}
body{
    font-family: rubik;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1000px;
}
.navbar .container{
    padding: 0 20px;
    align-items: center;
}
.navbar .container .logo{
    width: 200px;
    height: 60px;
}
.navbar .container .navbar-links ul li{
    margin: 15px;
}
.navbar .container .navbar-links ul li a{
    color: black;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
    opacity: .8;
}
.navbar .container .navbar-links ul li a.active::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background:var(--primary);
}
.navbar .container .menu-icon{
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
}
.navbar .container .menu-icon i{
    font-size: 25px;
}
@media  (max-width:991px) {
    .navbar .container{
       flex-direction: column;
       align-items: flex-start;
    }
    .navbar .container .navbar-links{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .navbar .container .navbar-links.active{
        height: auto;
    }
    .navbar .container .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar .container .navbar-links ul li{
        margin: 0;
        padding: 10px;
        width: 100%;
        margin-bottom: 5px;
    }
    .navbar .container .navbar-links ul li:hover{
        background: rgba(0,0,0,.04);
    }
    .navbar .container .navbar-links ul li a.active{
        color: var(--primary);
    }
    .navbar .container .navbar-links ul li a.active::after{
        left: -10px;
        width: 2px;
        height: 100%;
    }
}


.showcase{
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),
    url(/home.jpg) no-repeat center center/cover;
}
.showcase .container {
    height: 100%;
}
.showcase .container .text{
    max-width: 650px;
    height: 100%;
    margin: 0 auto;
    color: white;
}
.showcase .container .text p{
    font-family: Tangerine;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    color: pink;
}
.showcase .container .text h1{
    font-size: 70px;
    font-family: serif;
    line-height: 1;
    margin-bottom: 30px;
}
.showcase .container .text .btn{
    background: pink;
    padding:14px 20px;
    color: #000;
}
@media  (max-width:991px){
    .showcase .container .text h1{
        font-size: 60px;
    }
}
@media  (max-width:768px){
    .showcase .container .text h1{
        font-size: 55px;
    }
}

.about .container .title h1{
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 0;
}
.about .container .title p{
    text-transform: uppercase;
    opacity: .9;
    letter-spacing: 1px;
    font-size: 14px;
}
.about .container .row .col-lg-6 p{
    opacity: .7;
    font-size: 15px;
}

/* -------------------------------- */
.discount{
    background: linear-gradient(rgba(102, 46, 145, 0.8),rgba(102, 46, 145, 0.8)),
    url(https://images.unsplash.com/photo-1620464003286-a5b0d79f32c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG1ha2V1cCUyMGFydGlzdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60) no-repeat center center/cover;
    color: white;
}
.discount .container h1{
    margin: 0;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 44px;
    text-transform: uppercase;
}
.discount .container p{
    text-transform: uppercase;
    font-size: 17px;
    opacity: .85;
}
.discount .container .btn{
    color: white;
    border: 1px solid white;
    border-radius: 24px;
    text-transform: capitalize;
    font-size: 14px;
    padding:8px 18px;
}