@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=PT+Sans:ital@1&family=Poppins:wght@400;500&family=Rubik:wght@300;400;500;700;900&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#662e91;
}
body{
    font-family: rubik;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    list-style-type: none;
}
.container{
    max-width: 1000px;
}
.navbar .container{
    padding: 0 20px;
    align-items: center;
}
.navbar .container .logo{
    width: 200px;
    height: 60px;
}
.navbar .container .navbar-links ul li{
    margin: 15px;
}
.navbar .container .navbar-links ul li a{
    color: black;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
    opacity: .8;
}
.navbar .container .navbar-links ul li a.active::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background:var(--primary);
}
.navbar .container .menu-icon{
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
}
.navbar .container .menu-icon i{
    font-size: 25px;
}
@media  (max-width:991px) {
    .navbar .container{
       flex-direction: column;
       align-items: flex-start;
    }
    .navbar .container .navbar-links{
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .navbar .container .navbar-links.active{
        height: auto;
    }
    .navbar .container .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar .container .navbar-links ul li{
        margin: 0;
        padding: 10px;
        width: 100%;
        margin-bottom: 5px;
    }
    .navbar .container .navbar-links ul li:hover{
        background: rgba(0,0,0,.04);
    }
    .navbar .container .navbar-links ul li a.active{
        color: var(--primary);
    }
    .navbar .container .navbar-links ul li a.active::after{
        left: -10px;
        width: 2px;
        height: 100%;
    }
}


.showcase{
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),
    url(/home.jpg) no-repeat center center/cover;
}
.showcase .container {
    height: 100%;
}
.showcase .container .text{
    max-width: 650px;
    height: 100%;
    margin: 0 auto;
    color: white;
}
.showcase .container .text p{
    font-family: Tangerine;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    color: #daabfd;
}
.showcase .container .text h1{
    font-size: 70px;
    font-family: serif;
    line-height: 1;
    margin-bottom: 30px;
}
.showcase .container .text .btn{
    background:#daabfd;
    padding:14px 20px;
    color: #000;
    border-radius: 33px;
    font-size: 14px;
    border: 0;
}
@media  (max-width:991px){
    .showcase .container .text h1{
        font-size: 60px;
    }
}
@media  (max-width:768px){
    .showcase .container .text h1{
        font-size: 55px;
    }
}

 .title h1{
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 0;
}
 .title p{
    text-transform: uppercase;
    opacity: .9;
    letter-spacing: 1px;
    font-size: 14px;
}
.about .container .row .col-lg-6 p{
    opacity: .7;
    font-size: 15px;
}

/* -------------------------------- */
.discount{
    background: linear-gradient(rgba(102, 46, 145, 0.8),rgba(102, 46, 145, 0.8)),
    url(https://images.unsplash.com/photo-1620464003286-a5b0d79f32c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fG1ha2V1cCUyMGFydGlzdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60) no-repeat center center/cover;
    color: white;
}
.discount .container h1{
    margin: 0;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 44px;
    text-transform: uppercase;
}
.discount .container p{
    text-transform: uppercase;
    font-size: 17px;
    opacity: .85;
}
.discount .container .btn{
    color: white;
    border: 1px solid white;
    border-radius: 24px;
    text-transform: capitalize;
    font-size: 14px;
    padding:8px 18px;
}

.services .container .row{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.services .container .row .box-card{
    padding:30px 20px;
    border: 2px solid #100c1358;
    text-align: center;
}
.services .container .row .box-card img{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    border: 3px solid #662e91;
    margin-bottom: 20px;
}
.services .container .row .box-card h2{
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.services .container .row .box-card p{
    font-size: 14px;
    opacity: .85;
}
.services .container .row .box-card .btn{
    font-weight: 500;
    padding: 0;
    padding-bottom: 8px;
    border-radius: 0;
}
.services .container .row .box-card .btn svg{
    margin-left:7px;
}
.services .container .row .card-1 .btn{
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}
.services .container .row .card-1 h2{
    color: var(--primary);
}
.services .container .row .card-1{
    border-color:#662e91;
}


.watch{
    background: linear-gradient(rgba(102, 46, 145, 0.8),rgba(102, 46, 145, 0.8)),
    url(https://images.unsplash.com/photo-1570088727237-68500d217455?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGlwc3RpY2t8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60) no-repeat center center/cover;
    color: white;
}
.watch .container svg{
    border:6px solid rgba(255, 255, 255, 0.4);
    border-radius: 100%;
}

.gallery .container .row{
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-areas: 
    'one one two two'
    'one one three three'
    ;
    gap: 10px;
}
.gallery .container .row img:first-child{
    grid-area: one;
    height: 510px;
}
.gallery .container .row img:nth-child(2){
    grid-area: two;
    height: 250px;
}
.gallery .container .row img:last-child{
    grid-area: three;
    height: 250px;
}
@media (max-width:768px) {
    .gallery .container .row{
        grid-template-areas: 
        'one'
        'two'
        'three';
    }
    .gallery .container .row img:nth-child(2){
        height: 100%;
    }
    .gallery .container .row img:last-child{
        height: 100%;
    }
}

.client{
    background: linear-gradient(rgba(102, 46, 145, 0.8),rgba(102, 46, 145, 0.8)),
    url(https://media.istockphoto.com/photos/collection-of-various-lipsticks-makeup-make-up-artist-beauty-salon-picture-id1169909415?b=1&k=20&m=1169909415&s=170667a&w=0&h=H97nXKvv6Pssle0L9a6s5Uq4zzQmdtEMPDI-L9aTPw8=) no-repeat center center/cover;
    color: white;
    position: relative;
}
.client .container .title h1{
    color: white;
}
.client .container .div .clients{
    width: 100%;
    border: 2px solid white;
}
.client .container .div .clients img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    border: 3px solid white;
    margin-bottom: 30px;
}
.client .container .div .clients p{
    opacity: .85;
}
.client .container .div .clients h3{
    font-size: 24px;
    margin-bottom: 0;
}
.client .container .div .clients p.job{
    font-size: 13px;
    text-transform: uppercase;
}
.client .container svg{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 99;
    color: white;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.client .container svg.btn-left{
    left: 0;
}

.contact .container .mygrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin-top: 50px;
}
.contact .container .mygrid h3{
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 30px;
    color: var(--primary);
}
.contact .container .mygrid .div{
    padding: 10px;
}
.contact .container .mygrid .div.d1 img{
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
}
.contact .container .mygrid .div.d1 .address li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
    gap: 8px;
}
.contact .container .mygrid .div.d1 .address li i{
    background: rgba(102, 46, 145, 0.288);
    height: 30px;
    width: 30px;
    color:var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .container .mygrid .div.d1 .address li .name{
    font-size: 13px;
}
.contact .container .mygrid .div.d2 .table{
    padding: 20px;
    border: 1px solid var(--primary);
}
.contact .container .mygrid .div.d2 .table div{
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
}
.contact .container .mygrid .div.d2 .table div span{
    font-size: 13px;
    text-transform: capitalize;
}
.contact .container .mygrid .div.d3 form input,
.contact .container .mygrid .div.d3 form textarea{
    padding: 5px 5px;
    margin-bottom: 8px;
    width: 100%;
    outline: none;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(102, 46, 145, 0.1);
}
.contact .container .mygrid .div.d3 form button{
    width: 100%;
    text-align: center;
    border: 0;
    outline: 0;
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background: rgba(102, 46, 145, 0.8);
}
@media (max-width:768px) {
    .contact .container .mygrid{
        grid-template-columns: 1fr;
    }
}

footer{
    background: var(--primary);
    padding: 10px;
    padding-bottom: 0;
    color: white;
}
footer .container p{
    font-size: 13px;
    opacity: .8;
}
footer .container i{
    margin: 0 5px;

}

